#description h1 {
  font-size: 24px;
}
#description h2 {
  font-size: 20px;
}
#description h3 {
  font-size: 18px;
}
#description h4 {
  font-size: 16px;
}
#description h5 {
  font-size: 14px;
}
#description h6 {
  font-size: 12px;
}
#description ul {
  list-style-type: circle;
  padding-left: 20px;
}
