.quill {
  margin-top: 10px !important;
  border-color: #404040 !important;
}
.ql-toolbar {
  border-radius: 5px 5px 0 0;
  border-color: #262626 !important;
}
.ql-container {
  border-top: none !important;
  border-radius: 0 0 5px 5px;
  border-color: #262626 !important;
}
.ql-editor {
  min-height: 200px;
}
.ql-snow.ql-toolbar button:hover {
  color: purple !important;
}
